<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/myicon.jpg" />
        <title>AI Meal Plans</title>
        <%- include('./partials/styles.ejs') %> <%- include('./partials/head.ejs')
        %>
      </head>
<body>
    <div class="container">
    <h1>Disclaimer</h1>
    <p>This project is made for practice and fun only. It is not optimized or fine-tuned, so it may not work as expected at times.</p>

    <a class="homeLink smallerFont" href="/"><u>Return to home page</u></a>

    </div>
    
    <%- include('./partials/foot.ejs') %>
</body>
</html>
