<!-- mealPlanner.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="/myicon.jpg" />
        <title>AI Meal Plans</title>
        <%- include('./partials/styles.ejs') %> <%- include('./partials/head.ejs')
        %>
    </head>
    <body>
        <div class="container">
            <h1>Meal Planner</h1>

            <!-- Meal Planner Form -->
            <form action="/meal-planner/results" method="post">

                <!-- Name -->
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <!-- Diet Type -->
                <label for="dietType">Diet Type:</label>
                <select id="dietType" name="dietType">
                    <option value="balanced">Balanced</option>
                    <option value="high protein">High Protein</option>
                    <option value="low carb">Low Carb</option>
                    <option value="low fat">Low Fat</option>
                </select>

                <!-- Number of Meals Preferred -->
                <label for="numMeals">Number of Meals Preferred:</label>
                <select id="numMeals" name="numMeals">
                    <option value="1">1 Meal</option>
                    <option value="2">2 Meals</option>
                    <option value="3">3 Meals</option>
                    <option value="4">4 Meals</option>
                    <option value="5">5 Meals</option>
                    <option value="6">6 Meals</option>
                </select>

                <!-- Daily Caloric Intake -->
                <label for="caloricIntake">Daily Caloric Intake:</label>
                <input type="number" id="caloricIntake" name="caloricIntake" required>

                <!-- Daily protein Intake -->
                <label for="proteinIntake">Daily Protein Intake (Optional):<a class="questionMark" href="https://www.calculator.net/protein-calculator.html" target="_blank">?</a></label>
                <input type="hidden" id="hiddenProteinIntake" name="proteinIntake" value="any">
                <input type="number" id="proteinIntake" name="proteinIntake">

                <!-- Allergies -->
                <label for="allergies">Allergies (Optional):</label>
                <input type="text" id="allergies" name="allergies">

                <!-- Foods Disliked -->
                <label for="dislikedFoods">Foods Disliked (Optional):</label>
                <input type="text" id="dislikedFoods" name="dislikedFoods">

                <!-- Foods Preferred -->
                <label for="preferredFoods">Foods Preferred (Optional):</label>
                <input type="text" id="preferredFoods" name="preferredFoods">

                <!-- Submit Button -->
                <h6 class="loadingMsg">*Be patient - Loading may take up to 30 seconds*</h6>
                <button type="submit">Generate Meal Plan</button>
            </form>

            <br>
            <a href="/"><u>Return to home page</u></a>
        </div>

        <%- include('./partials/foot.ejs') %>
    </body>
</html>
